<div class="h-[85vh] overflow-y-auto">

    <div class="flex flex-col items-center space-y-2">
        <div class="flex flex-row text-lg space-x-4 items-center">
            <label for="query">Buscar contactos</label>
            <input
                type="text"
                id="query"
                name="query"
                class="p-1 rounded-md border border-gray-500"
                (change)="consultarContactos()"
                [(ngModel)]="query">
        </div>
    </div>

    <div *ngIf="contactoList.length > 0" class="w-full space-y-4 mt-4 animate__animated animate__faster animate__fadeIn"> 
        <span class="w-full text-xl flex flex-row" *ngFor="let contacto of contactoList">
            <span 
                class="rounded-full text-xl text-white w-10 h-10 flex flex-col items-center justify-center"
                [CustomContactColor]="contacto"
                >
                <span>
                    {{contacto.nombre.split('')[0]}}
                </span>
            </span>
            <span [routerLink]="[contacto.id]" class="cursor-pointer border-b border-black ml-4">{{contacto.nombre}} {{contacto.apellido}}</span>
        </span>
    </div>

</div>

<a 
    routerLink="/contactos/registrar"
    class="
        transition-all
        duration-300
        shadow-md
        hover:shadow-gray-600
        hover:bg-blue-600
        active:shadow-gray-600
        active:shadow
        active:bg-blue-600
        shadow-gray-500 text-white bg-blue-700
        w-full rounded-lg
        space-x-2 flex flex-row items-center justify-center">
    <span class="material-icons-outlined !text-4xl mt-1">add</span>
    <span class="text-lg">Añadir contacto</span>
</a>