<div class="h-[85vh] overflow-y-auto">
content
</div>
<a 
    routerLink="/contactos/registrar"
    class="
        transition-all
        duration-300
        shadow-md
        hover:shadow-gray-600
        hover:bg-blue-600
        active:shadow-gray-600
        active:shadow
        active:bg-blue-600
        shadow-gray-500 text-white bg-blue-700
        w-full rounded-lg
        space-x-2 flex flex-row items-center justify-center">
    <span class="material-icons-outlined !text-4xl mt-1">add</span>
    <span class="text-lg">Añadir contacto</span>
</a>