<form class="flex flex-col items-center space-y-2" autocomplete="off" [formGroup]="contactoForm" (ngSubmit)="formSubmit()">
    <h1 class="font-semibold text-2xl">Añadir contacto</h1>

    <div>
        <app-input
            inputName="nombre"
            placeholder="Nombre"
            [formGroup]="contactoForm"
            label="Nombre"
        ></app-input>  
    </div>

    <div>
        <app-input
            inputName="apellido"
            placeholder="Apellido"
            [formGroup]="contactoForm"
            label="Apellido"
        ></app-input>  
    </div>

    <div >
        <app-input
            inputName="correo"
            type="email"
            placeholder="Correo electronico"
            [formGroup]="contactoForm"
            label="Correo"
        ></app-input>  
    </div>

    <div class="flex flex-col items-center space-y-2">
        <app-input
            inputName="telefono"
            type="tel"
            placeholder="Telefono"
            [formGroup]="contactoForm"
            label="Telefono"
        ></app-input>    
    </div>

    <button
        type="button"
        (click)="addAditionalValue()"
        class="btn"
    >
        Añadir campo adicional
    </button>

    <div class="flex flex-row space-x-1">
        <div class="flex flex-col space-y-2">
            <app-arr-input
                *ngFor="let labelInp of getAdditionalLabels.controls; let i = index"
                formArrayName="extraLabels"
                [formGroup]="contactoForm"
                [inputName]="i"
                placeholder="Que soy?"
            ></app-arr-input>
        </div>
        <div class="flex flex-col space-y-2">
            <app-arr-input
                *ngFor="let valuesInp of getAdditionalValues.controls; let i = index"
                formArrayName="extraValues"
                [formGroup]="contactoForm"
                [inputName]="i"
            ></app-arr-input>
        </div>
        <div class="w-4 flex flex-col space-y-2">
            <button type="button" (click)="deleteInputFromArr(i)" *ngFor="let _ of getAdditionalLabels.controls; let i = index" class="btn">
                <span class="material-icons-outlined">delete</span>
            </button>
        </div>
    </div>

    <button class="btn">Registrar contacto</button>

</form>